@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
        background-color: darkcyan;
        font: 13px;
        font-family: 'Quicksand', sans-serif;
        color: white;
}

h1 {
        color: white;
}

.container{
  padding-top: 5%;
  width:80%;
  margin:auto;
  overflow:hidden;
}

#content {
        text-align: center;
        margin: 0;
        padding: auto;
}

#content input {
        font-family: 'Quicksand', sans-serif;
        margin: 5px;
        width: 100px;
        height: 30px;
        border: none;
}

#content button {
        font-family: 'Quicksand', sans-serif;
        margin: 5px;
        width: 100px;
        height: 30px;
        border: none;
}

/*Dropdown*/
.menu {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFFAF0;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*neues Projekt*/

#projektstatus {
        float: right;
        width: 150px;
        height: 35px;
        background-color: white;
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
}
